name: Build and deploy Node.js project to Azure Function App - qr-code-generator7

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  AZURE_FUNCTIONAPP_PACKAGE_PATH: './qrCodeGenerator'
  NODE_VERSION: '18.x'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout GitHub Action'
        uses: actions/checkout@v4

      - name: Setup Node ${{ env.NODE_VERSION }} Environment
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: 'Resolve Project Dependencies Using Npm'
        shell: bash
        run: |
          pushd './${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}'
          npm install
          npm run build --if-present
          npm run test --if-present
          popd
      
      - name: Upload artifact for deployment
        uses: actions/upload-artifact@v4
        with:
          name: function-app-package
          path: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
          
  deploy-dev:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: function-app-package
          path: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}

      - name: 'Deploy to Dev Slot'
        uses: Azure/functions-action@v1
        with:
          app-name: 'gp-function-qr'
          slot-name: 'Dev'
          package: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
          # publish-profile is removed, using RBAC from azure/login

  deploy-prod:
    runs-on: ubuntu-latest
    # This job only runs IF deploy-dev was successful
    needs: deploy-dev
    steps:
      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: function-app-package
          path: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}

      - name: 'Deploy to Production Slot'
        uses: Azure/functions-action@v1
        with:
          app-name: 'gp-function-qr'
          slot-name: 'Production'
          package: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
          # publish-profile is removed, using RBAC from azure/login
